.profile {
  display: flex;
}

.profile__right {
  flex: 9;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.profile__cover {
  height: 320px;
  position: relative;
}

.profile__coverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profile__userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  border: 3px solid white;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__infoName {
  font-size: 24px;
}

.profile__infoDesc {
  font-weight: 300;
}

.profile__rightBottom {
  display: flex;
}
