.profile__rightbar {
  flex: 0.4;
}

.profile__rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile__rightbarInfo {
  margin-bottom: 30px;
}

.profile__rightbarInfoItem {
  margin-bottom: 10px;
}

.profile__rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.profile__rightbarInfoValue {
  font-weight: 400;
}

.profile__rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile__rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.profile__rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
