.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.sidebar__wrapper {
  padding: 20px;
}

.sidebar__link {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar__linkItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar__linkItemText {
  margin-left: 15px;
}

.sidebar__button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: lightblue;
}

.sidebar__hr {
  margin: 20px 0;
}

.sidebar__shortcuts {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar__shortcut {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar__shortcutImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
