.rightbar {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.rightbar::-webkit-scrollbar {
  width: 0;
}

.rightbar__wrapper {
  padding: 20px 20px 0 0;
}

.rightbar__giftContainer {
  display: flex;
  align-items: center;
}

.rightbar__giftImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rightbar__giftText {
  font-weight: 300;
  font-size: 15px;
}

.rightbar__ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbar__title {
  margin-bottom: 20px;
}

.rightbar__friendsList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar__friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar__profileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbar__profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbar__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2;
  right: 0;
  border: 2px solid white;
}

.rightbar__username {
  font-weight: 500;
}

/* Profile Rightbar */
.rightbar__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbar__info {
  margin-bottom: 30px;
}

.rightbar__infoItem {
  margin-bottom: 10px;
}

.rightbar__infoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbar__infoValue {
  font-weight: 300;
}

.rightbar__followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.rightbar__following {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.rightbar__followingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
